body {
    background-color: rgb(172, 236, 252);
    font-family: Arial, sans-serif;
    margin: 0;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left {
    flex: 1;
    position: relative;
  }
  
  /* image style */
  .left img {
    max-width: 90%;
    margin-left: 40px;
  }
  
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 40px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  /* button style */
  
  button {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }

  .blue:focus {
   border-radius: 10rem;
   border: rgb(0, 0, 0) solid;
  }
  .pink:focus {
   border-radius: 10rem;
   border: rgb(0, 0, 0) solid;
  }
  .yellow:focus {
   border-radius: 10rem;
   border: rgb(0, 0, 0) solid;
  }

  /* button color */
  
  .pink {
    background-color: rgb(232, 84, 108);
  }
  
  .blue {
    background-color: rgb(29, 127, 255);
  }
  
  .yellow {
    background-color: rgb(215, 215, 48);
  }

/* text style */

p {
    margin-top: 10px; 
}

.instructions {
    font-size: smaller;
    margin-bottom: 15px;
    margin-top: 15px;
}

.bottom-para {
    text-align: left;
}
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  

  /* input button styling */

input[type="file"]{
  display: none;
}

label {
  color: white;
  height: 50px;
  width: 350px;
  font-size: 20px;
  background-color: rgb(29, 127, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.upload-icon{
 margin-right: 70px;
}
  
/* logo img style*/
#logo-preview {
  display: none;
  border: none ;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-80%, -50%);
}

/* loader style */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  fill: #ffffff;
}
